---
import '@a4ui/core/styles.css'
import SaveButton from '../components/SaveButton.tsx'
---
<html>
  <head>
    <title>A4ui + Astro</title>
  </head>
  <body>
    <SaveButton client:only="solid-js" />
  </body>
</html>
